# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.env
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist

# OS/Editor Specific
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
*.log
*.swp
